<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>156546296451-26uppqa2kcdog7pq2ievj1tvliiipb75.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.156546296451-26uppqa2kcdog7pq2ievj1tvliiipb75</string>
	<key>API_KEY</key>
	<string>AIzaSyA6fbqNYWX2d9spulFWtcSGYiWwIRg76Wc</string>
	<key>GCM_SENDER_ID</key>
	<string>156546296451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ight.hyozJo-o.student.skein-of-heart</string>
	<key>PROJECT_ID</key>
	<string>skein-of-heart</string>
	<key>STORAGE_BUCKET</key>
	<string>skein-of-heart.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:156546296451:ios:2772cd28e44869872189b6</string>
	<key>DATABASE_URL</key>
	<string>https://skein-of-heart.firebaseio.com</string>
</dict>
</plist>